.home-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.home-section-container {
    margin: 3vh 5vw;
    max-height: inherit;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section-content-container {
    width: inherit;
    display: grid;
}

.home-section-content-container.v1 {
    grid-template-columns: [col1] 60% [col2] auto;
    column-gap: 3%;
}

.home-section-content-container.v2 {
    grid-template-columns: [col1] auto [col2] 60%;
    column-gap: 3%;
}

.home-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-section-content.v1 {
    grid-column-start: col1;
}

.home-section-content.v2 {
    grid-column-start: col2;
}

.home-section-content > br {
    line-height: calc(10px + 1vh);
}

.home-section-content > h1 {
    text-align: left;
    font-size: calc(11px + 1.5vw);
}

.home-section-content > p {
    text-align: left;
    font-size: calc(8px + 0.8vw);
}

.home-section-content-img-container {
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.home-section-content-img-container.v1 {
    grid-column-start: col2;
}

.home-section-content-img-container > img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.home-section-btn {
    max-width: 60%;
}

.home-section-subtitle {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section-subtitle > h1 {
    text-align: center;
    font-size: calc(18px + 2vw);
}
