.location-header {
    background: url(./img/location-header-cover.jpg);
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.location-header-img-container {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    height: auto;
    /* filter: drop-shadow(0 0 3px #3b3b3b); */
}

.location-header-img-container > img {
    max-width: 100%;
}
