.founder-section {
    margin: 8vh 5vw 5vh 5vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 100%;
}

.founder-section-header {
    display: grid;
    grid-template-columns: [col1] 45% [col2] auto;
    column-gap: 5%;
    align-items: center;
}

.founder-section-title {
    grid-column-start: col1;
    align-items: center;
    justify-self: flex-start;
    display: grid;
    grid-template-rows: [row1] 60% [row2] auto;
    column-gap: 5%;
}

.founder-section-name {
    grid-row-start: row1;
}

.founder-section-about {
    height: 100%;
    grid-row-start: row2;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10%;
    align-items: flex-end;
    justify-content: flex-start;
}

.rickshaw-logo-container {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 800px) {
    .rickshaw-logo-container {
        display: none;
    }

    .rickshaw-logo-container > img {
        display: none;
    }

    .founder-section-about-para {
        width: 100%;
    }
}

.rickshaw-logo-container > img {
    max-width: 50%;
    height: auto;
}


.founder-section-name > h1 {
    text-align: left;
    font-size: calc(12px + 2.7vw);
    font-weight: 500;
    color: rgb(90, 0, 0, 100);
    font-family: "Times New Roman", Times, serif;
}

.founder-section-about-para {
    display: flex;
    justify-content: flex-start;
}

.founder-section-about-para > p {
    text-align: left;
    font-size: calc(11px + 1.4vw);
    font-family: "Goudy Bookletter 1911", Times, ui-sans-serif;
}

.founder-section-paragraph {
    display: flex;
    margin-top: 5vh;
}

.founder-section-paragraph > p {
    text-align: justify;
    font-size: calc(11px + 1.2vw);
    font-family: "Goudy Bookletter 1911", Times, ui-sans-serif;
}

.founder-section-img-container {
    max-width: 90%;
    grid-column-start: col2;
    justify-self: start;
}

.founder-section-img-container > img {
    max-width: inherit;
    height: auto;
}
