.footer-container {
    background-color: #242424;
    width: 100vw;
    padding: 4vh 0 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 3vh;
    padding: 3vh;
    color: #fff;
}

.footer-links {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
    max-width: 100%;
    min-width: 80%;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5vw;
    text-align: left;
    width: 33%;
    box-sizing: border-box;
}

.footer-link-items > h2 {
    margin-bottom: 3vh;
    color: #fff;
    font-size: min(calc(8px + 1.7vw), 20px);
}

.footer-link-items a {
    font-size: min(calc(10px + 0.8vw), 16px);
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social-icon-link {
    color: #fff;
    font-size: 24px;
}

.social-media {
    width: 100%;
    padding-left: 2vw;
}

/* .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
} */

.website-rights {
    font-size: calc(6px + 0.5vw);
    color: #fff;
}
