.footer-container {
    background-color: rgb(45,0,0,100);
    width: 100vw;
    padding: 4vh 0 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 3vh;
    padding: 3vh;
    color: #fff;
}

.footer-links {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
    max-width: 100%;
    min-width: 80%;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5vw;
    text-align: left;
    width: 33%;
    box-sizing: border-box;
}

.footer-link-items > h2 {
    margin-bottom: 3vh;
    color: #fff;
    font-size: min(calc(8px + 1.5vw), 18px);
    margin-bottom: 5%;
}

.footer-link-items a {
    font-size: min(calc(10px + 0.8vw), 16px);
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
    color: #f5a11b;
    transition: 0.3s ease-out;
}

.social-media {
    width: 100%;
    padding-left: 2vw;
}

.footer-social-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    margin-left: -4%;
}

.footer-social-icons > a {
    padding-left: 8%;
}

.website-rights {
    font-size: calc(6px + 0.5vw);
    color: #fff;
}
